
$plyr-chapter-background: var(--plyr-chapter-background, rgba(#fff, 0.9)) !default;
$plyr-chapter-radius: var(--plyr-chapter-radius, 4px) !default;
$plyr-chapter-color: var(--plyr-chapter-color, $plyr-color-gray-700) !default;
$plyr-chapter-shadow: var(--plyr-chapter-shadow, 0 1px 2px rgba(#000, 0.15)) !default;
$plyr-chapter-arrow-size: var(--plyr-chapter-arrow-size, 4px) !default;
$plyr-chapter-item-arrow-size: var(--plyr-chapter-item-arrow-size, 4px) !default;
$plyr-chapter-item-arrow-color: var(--plyr-chapter-arrow-color, $plyr-color-gray-500) !default;
$plyr-chapter-back-border-color: var(--plyr-chapter-back-border-color, $plyr-color-gray-100) !default;
$plyr-chapter-back-border-shadow-color: var(--plyr-chapter-back-border-shadow-color, #fff) !default;
